.game {
  display: grid;
  grid-template: 1fr auto 1fr / 1fr;
  justify-items: center;
  align-items: center;
}

.score {
  display: grid;
  grid-template: 1fr / 1fr;
  justify-items: center;
  align-items: center;

}

.winAndTurn {
  font-size: 1.8vw;
  font-weight: 300;
}

.buttons {
  display: grid;
  grid-template: 1fr / 1fr;
  column-gap: 2vw;
  margin: 15px;
}

.newGame, .resetScore{
  background-color: black;

  box-shadow: 0 0 10px white;

  padding: 0.2vw;
  font-size: 2vw;
  font-weight: 300;
}

.newGame:hover {
  filter: invert(100%);
}

@media (max-width: 1000px) {
  
  .winAndTurn {
    font-size: 4vw;
    font-weight: 300;
  }
  
  .newGame {
    background-color: black;
    
    padding: 1vw;
    font-size: 4vw;
    font-weight: 300;
  }
  
  .newGame:hover {
    filter: invert(100%);
  }
} 
