/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;900&display=swap");
/* Style reset start */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Style reset end */
* {
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-size: 10px;
}

body {
  background: url("./app/tic-tac-toe-theme.webp");
  background-color: rgb(0, 0, 0);
  background-size: 20%;
}

#root {
  display: grid;
  grid-template: auto 1fr auto/1fr;
  row-gap: 2%;
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
}
#root .main-title {
  justify-self: center;
  font-size: 10rem;
  font-weight: 100;
}
#root footer {
  justify-self: center;
  margin-bottom: 0.5%;
  font-size: 1.7rem;
  font-weight: 100;
}
#root footer .href-name {
  font-weight: 400;
}

@media (max-width: 700px) {
  html {
    background-size: 40%;
  }
  #root {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .main-title {
    white-space: nowrap;
    font-size: 8rem;
  }
  .main-title span {
    font-size: 5rem;
  }
}
@media (max-width: 500px) {
  html {
    background-size: 60%;
  }
  body #root {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
  .main-title {
    font-size: 5rem;
  }
  .main-title span {
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  .main-title span {
    display: none;
  }
}
.game {
  display: grid;
  grid-template: 1fr auto 1fr/1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.game__score {
  display: grid;
  grid-template: repeat(2, 1fr)/1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 5%;
}
.game__score .turnReturn {
  display: grid;
  grid-template: 1fr/1fr auto;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.game__score .turnReturn .winAndTurn {
  font-size: 4rem;
  font-weight: 300;
}
.game__score .turnReturn .return-button {
  background-color: black;
  border: 1px solid white;
}
.game__score .turnReturn .return-button img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.game__score .turnReturn .return-button:hover {
  background-color: rgb(255, 255, 255);
}
.game__score .turnReturn .return-button:hover img {
  -webkit-filter: invert(0%);
          filter: invert(0%);
}
.game__score .scoreCounter {
  display: grid;
  grid-template: 1fr/repeat(2, 1fr);
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  font-size: 3.5rem;
}
.game__score .scoreCounter .xo {
  font-weight: 500;
}
.game__board {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 20px;
}
.game__board .square, .game__board .square-invert {
  width: 15rem;
  height: 15rem;
  background-color: black;
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  font-size: 10rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}
.game__board .square-invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.game__board .square:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.game__buttons {
  display: grid;
  grid-template: 1fr/repeat(2, 1fr);
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.game__buttons button {
  background-color: black;
  border: 1px solid white;
  font-size: 3.5rem;
  font-weight: 100;
  padding: 1rem;
}
.game__buttons button:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

@media (max-width: 700px) {
  .game__score .turnReturn {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .game__score .turnReturn .winAndTurn {
    font-size: 3rem;
    font-weight: 100;
  }
  .game__score .turnReturn .return-button img {
    width: 30px;
    height: 30px;
  }
  .game__board {
    gap: 10px;
  }
  .game__board .square, .game__board .square-invert {
    width: 12rem;
    height: 12rem;
    font-size: 8rem;
  }
  .game__buttons {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .game__buttons button {
    font-size: 3rem;
    padding: 0.75rem;
  }
}
@media (max-width: 500px) {
  .game__board .square, .game__board .square-invert {
    width: 10rem;
    height: 10rem;
    font-size: 7rem;
  }
  .game__buttons {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .game__buttons button {
    font-size: 2.75rem;
  }
}